form.post-form {
  * {
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }

  input[name=title] {
    padding: 0.5em;
    border: $border;
  }

  textarea {
    padding: 0.5em;
    min-height: 50em;
    border: $border;
    resize: vertical;
    width: 100%;
  }
}
