<form class="post-form small-12" ng-submit = "postForm.savePost()">
  <input required name="title" type = "text" ng-model="postForm.post.title" />
  <textarea required name="body" ng-model="postForm.post.body"></textarea>
  <input class="button" name="submit" type = "submit" value = "Save" />
</form>
