<!-- A list of comments -->

<div>
  <h3 ng-if="commentsList.comments.length > 0">Comments</h3>
  <h4 ng-if="commentsList.comments.length > 0" class="collapse-link" ng-click="commentsList.collapsed=!commentsList.collapsed">{{commentsList.collapsed?'-':'+'}} ({{commentsList.comments.length}})</h4>
  <comment-view ng-show="commentsList.collapsed" ng-repeat="comment in commentsList.comments" comment="comment"></comment-view>
</div>
