<article class="comment">
  <p>{{commentView.comment.body}}</p>
  <p><a class="regular-link" href="mailto:{{commentView.comment.email}}">{{commentView.comment.email}}</a>
  <br/>
  <a ng-if = "commentView.userObject" class="regular-link" ui-sref="user({'userId':commentView.userObject.id})">
    [Go to profile]
  </a></p>
</article>
