.login-form {
  * {
    display: block;
    margin-bottom: 0.5em;
  }

  div.spacer {
    height: 6em;
  }

  input {
    border-radius: 3px;
    padding: 0.5em;
  }

  input[type=text],input[type=password] {
    border: $border;
    text-align: center;

  }
}
