<div class="row">
  <div class="small-6 small-centered columns">
    <form class="login-form" name="login" ng-submit="makeLogin()">
      <div class="spacer"></div>
      <input placeholder="username (email)" class="small-12" type="text" ng-model="username"/>
      <input placeholder="password" class="small-12" type="password" ng-model="password"/>
      <input class="small-12 button" type="submit" id="submit" value="Log In" />
    </form>
    <p class="error" ng-if="apiError">Please check username and password</p>
  </div>
</div>
