$border: solid $borderGrey 1px;

$maxHeight: 800px;

.loading-text {
  text-align: center;
}

.no-top-margin {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.regular-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.button {
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  background: black;
  color: white;

  &:focus {
    outline:none !important;
  }

  &:hover {
    background: #222;
  }
}

.header,.main-wrapper {
  border-left: $border;
  border-right: $border;
}

.main-wrapper {
  min-height: 25em;
}

.footer {
  border: $border;

  height: 3.5em;

  text-align: center;
}

.error {
  color: red;
}


body {
  min-width: 900px;
}
