.post-card {
  &:hover {
    cursor: pointer;
    background-color: $lightGrey1;
  }

  &.selected {
    background-color: $lightGrey2;
  }

  background-color: none;
  transition: background-color 0.5s;
}
