<!-- The new post buttons and the list of posts of the logged in user -->
<div class="small-4 columns posts-list">
  <button class="new-post button" ng-click="newPost()">New post</button>
  <post-card ng-repeat="post in posts" post="post" ng-click="loadPost(post)"></post-card>
</div>
<!-- If it's not new post mode, show the post and it's comments -->
<div ng-if="!newPostMode" class="small-8 columns detail-block">
  <post-view post="loadedPost"></post-view>
  <comments-list comments="loadedPostComments"></comments-list>
  <comment-form post="loadedPost" save-callback="init"></comment-form>
</div>
<!-- If it's new post mode show the post submission form -->
<div ng-if="newPostMode" class="small-8 columns detail-block">
  <post-form ></post-form>
</div>
