<!-- The post, the list of comments and a place to post the comment -->
<div class="small-12 columns">
  <post-view post="post"></post-view>
  <comments-list comments="postComments"></comments-list>
  <comment-form post="post" save-callback="init"></comment-form>
</div>
