<!-- The user detail, and the list of posts -->
<div class="posts">
  <div class="small-12 columns">
    <h3 class="user-info">{{user.name}}</h3>
    <h4 class="user-info no-top-margin">{{user.email}}</h4>
    <div class="separator"></div>
    <post-view ng-repeat="post in posts" post="post"></post-view>
  </div>
</div>
