<form class="small-12 comment-form" ng-submit = "commentForm.saveComment()">
  <textarea required ng-model="commentForm.comment.body"></textarea>
  <input required class="button small-4" type = "submit" value = "Comment" />
</form>
