<!-- This is the part that's show the Dashboard link, the logout link and the name of the logged in user -->

<p><a class="regular-link" ui-sref="user({userId:user.id})">{{user.name}}</a><br/> {{user.email}} <br/> <a class="regular-link" ui-sref="home" ng-if="user">Dashboard</a></p>
<button ng-if="user" class="regular-link" ng-click="logout()">Log out</button>
